In [8]:
#1.print pattern
n=4
for i in range(0,5):
    for j in range(0,5):
        if i+j>=n:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print(" ")

        *
      * *
    * * *
  * * * *
* * * * *

In [10]:
#2.Arithmetic exception....Number format exception
a=1
while(a==1):
    n1=input("Enter First Number:")
    n2=input("Enter Second Number:")
    try:
        float(n1)/float(n2)
    except ZeroDivisionError:
        print("ArithmeticException")
        a=2
    except ValueError:
        print("NumberFormatException")
        a=2
    if a==2:
        a=1
    else:
        print(float(n1)/float(n2))
        a=0

Enter First Number: 7
Enter Second Number: 0

ArithmeticException

Enter First Number: 8
Enter Second Number: a

NumberFormatException

Enter First Number: 6
Enter Second Number: 9

0.6666666666666666

In [ ]:
#3.Sports Equipment Rental System POC:

class Equipment